/* Color Palete */
:root {
  --erasmus-color-1: #033e8c;
  --erasmus-color-2: #0396a6;
  --erasmus-color-3: #fcd116;
  --erasmus-color-4: #000000;
  --erasmus-color-5: #f26b6b;
  --erasmus-color-6: #c4c4c4;
  --erasmus-color-7: #dadada;
}

/* Navbar */
nav {
  background-color: var(--erasmus-color-7);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000000;
}
nav ul {
  text-decoration: none;
  list-style: none;
  display: flex;
  margin: 0;
  width: 50%;
  height: 70px;
  padding: 0%;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.3em;
  font-weight: bold;
}
.navLogo {
  margin-left: 2.5em;
  width: 120px;
}

#logo {
  width: 80px;
  font-size: 1.5em;
  font-weight: bolder;
  display: flex;
  align-items: center;
}
#logoPlus {
  color: var(--erasmus-color-1);
  font-size: 1.2em;
  height: 30px;
  padding-bottom: 2px;
  margin-left: 2px;
}
nav a {
  color: var(--erasmus-color-4);
  text-decoration: none; /* no underline */
}
.flagIcon {
  width: 16px;
}
.flagRow {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  width: 100%;
  margin-left: 2px;
}

/* HomePage */
.homeContainer {
  height: 100vh;
  display: flex;
}
#leftPart {
  width: 50%;
}
#rightPart {
  width: 50%;
}
